@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  background: #d4d3d3;
  font-family: Arial, Helvetica, sans-serif;
}

.page-content {
  min-height: 100%;
}

.page-content header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(29, 29, 29, 0.671);
  -webkit-box-shadow: 0 0px 6px 1px #3d3d3d;
          box-shadow: 0 0px 6px 1px #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.page-content header .brand .brand-name {
  display: inline-block;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.page-content header nav {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.page-content header nav > a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.page-content header nav > a .link {
  display: inline-block;
  padding: 20px 10px;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  border-bottom: 2px solid transparent;
}

.page-content header nav > a .link:hover {
  border-bottom: 2px solid orange;
  color: orange;
}

.page-content .main .hero-wrapper {
  z-index: 1;
  padding: 200px 0;
  width: 100%;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.449)), to(rgba(0, 0, 0, 0.449))), url("https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.449), rgba(0, 0, 0, 0.449)), url("https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-content .main .hero-wrapper .hero-text-content .hero-title {
  font-size: 5rem;
  color: #fff;
  margin: 20px 0 5px 0;
  font-weight: 300;
}

.page-content .main .hero-wrapper .hero-text-content .hero-sub-title {
  font-size: 1.6rem;
  color: #c0bdbd;
}

.page-content .main .hero-wrapper .hero-text-content .hero-sub-desc {
  font-size: 1rem;
  color: #c0bdbd;
  max-width: 600px;
  margin-top: 10px;
}

.page-content .main .hero-wrapper .hero-text-content .action-btn {
  margin-top: 40px;
}

.page-content .main .hero-wrapper .hero-text-content .action-btn .btn {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  padding: 10px 40px;
  margin-right: 20px;
  width: 200px;
  background: rgba(0, 0, 0, 0.322);
  color: #fff;
  border: 1px solid rgba(192, 187, 187, 0.884);
  cursor: pointer;
}

.page-content .main .hero-wrapper .hero-text-content .action-btn .btn:hover {
  color: orange;
  border: 1px solid orange;
  background: rgba(0, 0, 0, 0.63);
}

.page-content .main .hero-wrapper .hero-text-content .action-btn .read-btn:hover {
  padding: 10px 50px 10px 20px;
}

.page-content .main .hero-wrapper .hero-text-content .action-btn .read-btn::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0.6em;
  content: "»";
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  color: orange;
}

.page-content .main .hero-wrapper .hero-text-content .action-btn .read-btn:hover::after {
  right: 1.2em;
  opacity: 1;
}

.page-content .main .hero-wrapper .auther-pic {
  width: 500px;
  height: 350px;
  border: 1px solid #181717;
  font-weight: 400;
}

.page-content .main .hero-wrapper .auther-pic > img {
  width: 100%;
  height: 100%;
}

.page-content .main .main-content {
  margin: -60px 50px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.page-content .main .main-content .left-side {
  margin-left: 15px;
  max-width: 55%;
}

.page-content .main .main-content .left-side h2 {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 1.3px;
  color: indigo;
  border-bottom: 2px solid indigo;
  padding-bottom: 10px;
}

.page-content .main .main-content .left-side p {
  font-size: 1.3rem;
  line-height: 1.8;
  font-family: "Raleway", sans-serif;
}

.page-content .main .main-content .right-side {
  margin: 20px 0;
  max-width: 40%;
}

.page-content .main .main-content .right-side .img-box {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.page-content .main .main-content .right-side .img-box:hover {
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.page-content .main .main-content .right-side .img-box > img {
  width: 100%;
  max-height: 300px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.page-content .main .main-content .right-side .img-box > img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.page-content .main .features {
  margin: 80px 50px 0 50px;
  padding: 60px 40px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-content .main .features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
}

.page-content .main .features .feature .img {
  max-width: 200px;
}

.page-content .main .features .feature .img > img {
  width: 100%;
}

.page-content .main .features .feature .f-title {
  font-size: 1.4rem;
  margin-top: -5px;
  margin-bottom: 15px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.page-content .main .features .feature .desc {
  font-size: 1rem;
  letter-spacing: 1.2px;
  font-weight: 400;
  color: #c0bdbd;
  max-width: 250px;
  text-align: center;
}

.page-content .main .contact {
  margin: 20px 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.062)), to(rgba(0, 0, 0, 0.021))), url("https://images.unsplash.com/photo-1474403078171-7f199e9d1335?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.062), rgba(0, 0, 0, 0.021)), url("https://images.unsplash.com/photo-1474403078171-7f199e9d1335?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80") center/cover no-repeat;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-content .main .contact .form-wrapper {
  padding: 30px;
  width: 550px;
}

.page-content .main .contact .form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-content .main .contact .form-group label {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  margin: 10px 0;
  color: #fff;
}

.page-content .main .contact .user-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.page-content .main .contact .user-detail .form-group .input-field {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  height: 40px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid black;
  margin-top: 5px;
  background: rgba(75, 74, 74, 0.74);
  color: #fff;
}

.page-content .main .contact .user-detail .form-group .input-field::-webkit-input-placeholder {
  color: #fff;
}

.page-content .main .contact .user-detail .form-group .input-field:-ms-input-placeholder {
  color: #fff;
}

.page-content .main .contact .user-detail .form-group .input-field::-ms-input-placeholder {
  color: #fff;
}

.page-content .main .contact .user-detail .form-group .input-field::placeholder {
  color: #fff;
}

.page-content .main .contact .textarea {
  pointer-events: none;
  padding: 10px;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  background: rgba(0, 0, 0, 0.562);
  color: #c0bdbd;
}

.page-content .main .contact .textarea::-webkit-input-placeholder {
  color: #fff;
}

.page-content .main .contact .textarea:-ms-input-placeholder {
  color: #fff;
}

.page-content .main .contact .textarea::-ms-input-placeholder {
  color: #fff;
}

.page-content .main .contact .textarea::placeholder {
  color: #fff;
}

.page-content .main .contact .submit-btn {
  margin: 15px 0;
  height: 40px;
  font-size: 1.4rem;
  cursor: pointer;
}

.footer {
  background: #f1f1f1;
  text-align: center;
  line-height: 80px;
  height: 80px;
  margin-top: 30px;
  color: #c0bdbd;
}
/*# sourceMappingURL=style.css.map */